@function sy-generate-color($hue, $modifier: $sy-color-modifier) {
  $colors: ();
  @each $step, $m in $modifier {
    $h: $hue;
    $s: 0;
    $l: 0;
    @if map-has-key($m, 's') {
      $s: map-get($m, 's');
    }
    @if map-has-key($m, 'l') {
      $l: map-get($m, 'l');
    }
    @if $hue == null {
      $h: 0;
      $s: 0;
    }
    $colors: map-merge($colors, (#{$step}: hsl($h, $s, $l)));
  }
  @return $colors;
}

@function sy-generate-color-palette($hues, $modifier: $sy-color-modifier) {
  $colors: ();
  @each $name, $hue in $hues {
    $colors: map-merge($colors, (#{$name}: sy-generate-color($hue, $modifier)));
  }
  @return $colors;
}

@function sy-color($name, $step: '500', $map: $sy-color) {
  @if map-has-key($map, $name) {
    @if map-has-key(map-get($map, $name), $step) {
      @return map-get(map-get($map, $name), $step);
    }
  }
  @return '#000';
}