
// Color
//
// Like in Google's material ui, colors are grouped in palettes by hue. Each
// contains 9 different shades, ranging from `100` (lightest) over `500` (base
// color) up to `900` (darkest).
// 
// Some special colors as `white`, `black` and `transparent` are included too,
// even though they don't have palettes on their own.
// 
// Style guide: 1.1

// Foreground
//
// Foreground color classes are named as `.sy-text-{color}-{shade}` and just set
// the required color as the element's color, therefore the text is getting
// colorized.
//
// Markup:
// <p class="sy-text-blue-500">Blue text.</p>
// <p class="sy-text-red-500">Red text.</p>
// <p class="sy-text-gray-500">Gray text.</p>
//
// Style guide: 1.1.1

// Background
//
// Background color classes are named as `.sy-{color}-{shade}` and just set the
// required color as the element's background color.
//
// Markup:
// <p class="sy-blue-500 sy-text-white">Blue background.</p>
// <p class="sy-red-500 sy-text-white">Red background.</p>
// <p class="sy-gray-500 sy-text-white">Gray background.</p>
//
// Style guide: 1.1.2

// Available Colors
// 
// These are the available colors:
// 
// Hidemarkup: true
// 
// Markup: _colorAvailableColors.html
//
// Style guide: 1.1.3
@if $sy-color-enabled {
  @each $name, $color in $sy-color-all {
    .sy-#{$name} {
      background-color: $color;
    }
    .sy-text-#{$name} {
      color: $color;
    }
    @if $sy-border-enabled {
      .sy-border-#{$name} {
        border-color: $color;
      }
    }
  }
}
